{% extends "global/base.html" %}

{% block content %}
<div class="container">
    <!-- Barra lateral de filtros -->
    <aside class="sidebar">
        <h3 class="filter-title">Filtrar por Categoria</h3>
        <ul class="category-list">
            {% for category in categories %}
                <li class="category-item {% if category.slug == request.resolver_match.kwargs.slug %}active{% endif %}">
                    <a href="{% url 'ecommerce:category' category.slug %}" class="category-link">{{ category.name }}</a>
                </li>
            {% empty %}
                <li class="category-item">Nenhuma categoria disponível</li>
            {% endfor %}
        </ul>
    </aside>

<!-- Conteúdo principal -->
    <div class="main-content">
        {% if page_obj %}
            {% for product in page_obj %}
                {% include "global/partials/_product_card.html" with i=forloop.counter0 %}
            {% endfor %}
        {% else %}
            <h1 class="no-products"> 
                Clique em alguma categoria para filtrar por produtos <img src="{{ site_config.logo.url }}" alt=" {{ site_config.logo.name }} ">
            </h1>
        <!-- Listando todos os produtos sem filtro -->
        {% endif %}
    </div>
</div>
{% endblock content %}