<form 
  action="{{ form_action }}"
  method="POST"
  enctype="multipart/form-data"
  class="form-container"
>
{% csrf_token %}      

<div class="form-group">
  {% for field in form %}
    <div class="input-group">
      <label for="{{ field.id_for_label }}" class="input-label">{{ field.label }}</label>
      {{ field }}
      {{ field.errors }}

      {% if field.help_text %}
        <p class="help-text">{{ field.help_text }}</p> 
      {% endif %}
    </div>
  {% endfor %}
</div>

{% if form.non_field_errors %}
  <div class="error-container">
    <div class="error-message">
      {{ form.non_field_errors }}
    </div>
  </div>
{% endif %}

<div class="submit-container">
  <button class="submit-button" type="submit">Enviar</button>
</div>
</form>