<header>
    <div class="logo logo-name">
        <img src="{{ site_config.logo.url }}" alt=" {{ site_config.logo.name }} ">
        <span> {{ site_config.name }} </span>
    </div>
    <nav>
        <ul class="nav-links">
            <li class="{% if request.resolver_match.url_name == "index" %}active{% endif %}">
                <a href="{% url "ecommerce:index" %}" >Home</a></li>
            <li class="{% if request.resolver_match.url_name == "category" %}active{% endif %}">
                <a href="{% url "ecommerce:category" %}" >Categorias</a></li>
            <li class="{% if request.resolver_match.url_name == "about" %}active{% endif %}">
                <a href="{% url "ecommerce:about" %}" >Sobre</a></li>
        </ul>
    </nav>
    <div class="header-icons">
        <form action="{% url "ecommerce:search" %}" method="GET">
            <div class="search-container">
                <input 
                placeholder="Pesquisar..."
                type="search" 
                name="q" 
                id="search"
                value="{{ search_value }}"
                required
                >
                <button type="submit">🔍</button>
            </div>
        </form>
    
        <div class="cart-icon">
            <a href="#" class="font-shopping-cart"><i class="fas fa-shopping-cart"></i> QntProds </a>
        </div>
    
        <a href="#" class="login-btn">Entrar</a>
    </div>
</header>