<header>
    <div class="logo">Nome da Loja aqui</div>
    <nav>
        <ul class="nav-links">
            <li><a href="{% url "ecommerce:index" %}">Home</a></li>
            <li><a href="#">Produtos</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>
        <div class="header-icons">
            <div class="search-container">
                <input type="text" placeholder="Pesquisar...">
                <button>🔍</button>
            </div>

            <a href="#" class="login-btn">Entrar</a>

            <div class="cart-icon">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
</header>